@font-face {
  font-family: "LinetoCircularProBook";
  src: url("../fonts/lineto-circular-pro-book.ttf") format("truetype");
}

@font-face {
  font-family: "LinetoCircularProBook";
  src: url("../fonts/lineto-circular-pro-book.woff") format("woff");
}

@font-face {
  font-family: "LinetoCircularProBook";
  src: url("../fonts/lineto-circular-pro-book.woff2") format("woff2");
}

body {
  font-family: LinetoCircularProBook !important;
  box-sizing: border-box !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.main-container {
  width: 100%;
  max-width: 440px;
  height: 100%;
}

.card-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 250px; /* Adjust the height as needed */
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #3b058e;

  background-image: url("../svgs/card-background-shape.svg");
  background-repeat: no-repeat;
  background-size: cover;

  button {
    background-color: #4c00c2;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;

    svg {
      fill: #fff;
      margin-right: 8px;
    }
  }
  // Add media queries for responsiveness
  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}

// Modal styles
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(121, 130, 145, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  &::before {
    content: "";
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(20px);
    z-index: -1;
  }
  &.show {
    opacity: 1;
  }
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  margin: 20px auto;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  // scale-in-center animation for the modal content
  -webkit-animation: scale-in-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  .show & {
    transform: scale(1);
  }
  @media screen and (max-width: 600px) {
    max-width: 95%;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
      font-size: 16px;
      color: #1a212c;
    }

    input {
      display: block;
      padding: 10px;
      border: none;
      background-color: transparent;
      color: #1a212c;
      position: relative;
      font-size: 16px !important;
      border-bottom: 2px solid #4c00c2;

      &:focus {
        outline: none;
      }

      &.success,
      &.error {
        border-color: transparent;
      }

      &.success {
        border-bottom: 2px solid #19ac51;
        color: #19ac51;
        background-image: url("../svgs/form-success.svg");
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 20px 20px;
        padding-right: 40px;
      }

      &.error {
        border-bottom: 2px solid #fc484c;
        color: #fc484c;
        background-image: url("../svgs/form-error.svg");
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 20px 20px;
        padding-right: 40px;
      }
    }

    .error {
      color: #fc484c;
      font-size: 12px;
      margin-top: 5px;
    }
  }

  button {
    align-self: center;
    padding: 12px 40px;
    width: 70%;
    margin-top: 20px;
    background-color: #4c00c2 !important;
    color: #ffffff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #32007e !important;
    }
  }
}

.custom-button {
  padding: 12px 40px;
  background-color: #4c00c2 !important;
  color: #ffffff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #32007e !important;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
